/* global variables */
:root {
  --var-dark-blue: #001c3c;
  --var-gray: #6f6f6f;
  --var-light-gray: #bfbfbf;
  --var-very-light-gray: #dfdddd;
  --var-sky-blue: #00acec;
  --var-smoke-white: #f5fafe;
  --var-desktop-view: 0px;
}
/* global styles */
body {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
  /* color: currentColor; */
}
p {
  line-height: 1.5rem;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1rem;
  border: none;
  /* padding: 1rem; */
}
h1,
h2,
h3,
h4 {
  color: var(--var-dark-blue);
}

.button-round {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}

/*--------------- webpage header's styles --------------*/
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem 1.3rem 1.3rem;
}

/* hide element in the mobile view */
.search__show-all {
  display: none;
}
.search__placeholder {
  display: none;
}
.search__button {
  background-color: transparent;
}
.search__button > span {
  display: none;
}
.search__button > svg path {
  stroke: var(--var-dark-blue);
}
.header__sign-in {
  display: none;
}
/* the hamburger  */
.header__hamburger {
  display: flex;
  flex-direction: column;
  gap: 3px;
}
.header__hamburger > div {
  width: 1.5rem;
  height: 2px;
  background-color: var(--var-dark-blue);
}

/* position elements in mobile view */
.header__logo {
  order: 2;
}
.header__search {
  order: 3;
}
.header__hamburger {
  order: 1;
}

/* header navigation -------------  */

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  padding: 1rem;
  margin: 0;
  background-color: var(--var-dark-blue);
  /* overflow-x: scroll; */
  /* border: 2px solid red; */
}
.nav__link {
  color: white;
  /* width: 5rem; */
  /* max-width: 10rem; */
}

/* ------------------- hero section ----------------- */
.hero {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: flex-start;
  height: 100svh;
  /* background-image: linear-gradient(35deg,  transparent, black 125%),  url("./assets/image12.png"); */
  background-image: linear-gradient(15deg, transparent, black 125%),
    url("./assets/image12.png");
  background-position: center;

  background-size: cover;
  padding: 1rem;
  /* background-position: -50% center,  center top; */
  /* background-position: 100% ; */

  background-repeat: no-repeat;
  position: relative;
}
.hero__title {
  color: white;
  font-size: 2.6rem;
  /* font-size: 40px; */
  margin-bottom: 0;
}
.hero__desc {
  width: 88%;
  color: var(--var-very-light-gray);
  font-size: 1.3rem;
  font-weight: 400;
  margin-top: 0.8rem;
  line-height: 2rem;
  /* letter-spacing: 1px; */
}
.hero__button {
  color: white;
  background-color: var(--var-sky-blue);
  gap: 0.8rem;
  border-radius: 2rem;
  font-size: 1.25rem;
  text-transform: capitalize;
  padding: 1.3rem 2.3rem;
  /* margin-top: rem; */
  /* font-weight: 400; */
}
.hero__button > svg path {
  /* stroke: white; */
  fill: white;
}
.hero__nav {
  /* margin-top: 2rem; */
  /* justify-self: flex-end; */
  align-self: center;
  display: flex;
  gap: 2rem;
  position: absolute;
  bottom: 3rem;
}
.hero__next,
.hero__prev {
  width: 3rem;
  height: 3rem;
  border: 1px solid white;
  background-color: transparent;
}
.hero__next {
  background-color: #fff;
}
.hero__next path {
  fill: black;
}

/* ---------------------------- top views --------------- */

/* style top-car component ------------------------------*/
.top-car {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  width: 100%;
  /* height: clamp(30rem, 43rem, 80svh); */
  top: 0;
  bottom: 0;
  /* border: 2px solid red; */
  scroll-snap-align: center;
}
.top-car__img {
  width: 100%;
  height: 40rem;
  /* height: auto; */
  object-fit: cover;
}
.top-car__desc {
  white-space: normal;
  width: 85%;
  text-align: left;
  /* line-height: 1.5rem; */
}
.top-car__price {
  color: var(--var-gray);
}
.top-car__button {
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
  color: white;
  background-color: var(--var-sky-blue);
  font-size: 1rem;
}

/* --------------- top-view container --------------- */
.top-view {
  text-align: center;
  padding: 2rem 1.2rem;
  /* border: 2px solid red; */
  position: relative;
}

.top-view__title {
  width: 60%;
  margin-inline: auto;
}
.top-view__desc {
  /* line-height: 1.5rem; */
  color: var(--var-gray);
}

.top-view__cars-wrapper {
  white-space: nowrap;
  overflow-x: auto;
  /* border: 2px solid red; */
  scroll-snap-type: both mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
  position: relative;
}
.top-view__cars-wrapper::-webkit-scrollbar {
  display: none;
}

.top-view__nav {
  position: absolute;
  bottom: 2rem;
  right: 1rem;
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin: auto;
  z-index: 1;
}
.top-view__prev,
.top-view__next {
  width: 3.5rem;
  height: 3.5rem;
  box-shadow: 0 0 30px -5px gray;
  background-color: white;
}
.top-view__prev {
  border: 1px solid black;
}
.top-view__prev path,
.top-view__next path {
  fill: black;
}

/* ---------------- about section ------------- */
.item {
  text-align: center;
  padding: 0.5rem;
  scroll-snap-align: center;
  background-color: white;
}

.about {
  /* border: 2px solid red; */
  background-image: url("./assets/image13.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 5rem;
  /* background-color: red; */
  overflow: hidden;
}
.about__img1,
.about__img2 {
  display: none;
}
.about__title {
  font-weight: 600;
}

.about__desc {
  color: var(--var-light-gray);
  /* line-height: 1.5rem; */
  font-weight: 300;
}

.about__content-wrapper {
  /* border: 1px solid red; */
  background-color: var(--var-dark-blue);
  color: white;
  padding: 1rem 1rem;
}

.about__item-wrapper {
  /* border: 1px solid green; */
  white-space: nowrap;
  background-color: var(--var-dark-blue);
  display: flex;
  gap: 0.8rem;
  padding: 0 0.5rem;
  overflow-x: scroll;
  /* border: none; */
  scroll-snap-type: both mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
@media all and (min-width: 450px) {
  .about__item-wrapper {
    justify-content: center;
  }
}
.about__item-wrapper::-webkit-scrollbar {
  display: none;
}
.about__cube {
  display: none;
}
/* ----------------- trending section ------------- */

/* trending car component --------------- */
.trend-car {
  display: inline-flex;
  flex-direction: column;
  padding: 1rem;
  justify-content: center;
  align-items: flex-start;
  box-sizing: border-box;
  scroll-snap-align: center;
  width: auto;
  height: 35rem;
  /* padding:1rem; */
  /* border: 1px solid red; */
  /* position: relative; */
}
.trend-car__img {
  object-fit: cover;
  height: 70%;
  width: 100%;
  /* height: auto; */
  /* position: relative; */
}
.trend-car__desc {
  margin-bottom: 0.5rem;
  /* white-space: normal; */
  width: 90%;
  /* border: 2px solid red; */
  word-break: break-all;
  /* display: block; */
  /* overflow: visible; */
  white-space: initial;
  font-weight: 500;
  /* font-size: 20px; */
  font-size: 1.2rem;
}
.trend-car__remaining {
  color: var(--var-light-gray);
  margin-bottom: 1rem;
}
.trend-car__button {
  width: 100%;
  padding: 0.5rem 1rem;
  /* margin-top: 0rem; */
  border-radius: 4rem;
  background-color: var(--var-sky-blue);
  font-size: 1rem;
  color: white;
  gap: 0.6rem;
}
.trend-car__button path {
  fill: white;
}

/* trending section ---------------------- */
.trending {
  /* border: 1px solid red; */
  padding: 1rem;
  /* position: relative; */
  /* white-space: nowrap; */
}
.trending__nav {
  position: absolute;
  display: none;
}
.trending__car-wrapper {
  white-space: nowrap;
  overflow-x: scroll;
  box-shadow: 0 0 15px -5px gray;

  scroll-snap-type: both mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.trending__car-wrapper::-webkit-scrollbar {
  display: none;
}

/* ----------------- video section ------------- */
/* video component ------------------ */
.video {
  margin: 1rem;
  margin-block: 1rem;
  background-color: var(--var-smoke-white);
}
.video__title {
  font-weight: 600;
}
.video__desc {
  color: var(--var-gray);
}
.video__detail {
  padding: 1rem;
}
.video__nav {
  display: none;
}
.video__video {
  display: grid;
  place-content: center;
}
.video__video img {
  width: 100%;
}
.video__video svg {
  position: absolute;
  align-self: center;
  justify-self: center;
}

/* ----------------membership section -------------------- */

/* plan component-------------------- */

.plan {
  display: inline-flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 83%;
  /* max-width: 28rem; */
  padding: 1.3rem;
  margin-inline: 1rem;
  box-shadow: 0 10px 30px -4px var(--var-light-gray);
  /* border: 2px solid red; */
  /* box-sizing: border-box; */
  border-radius: 0.8rem;
  /* z-index: 1; */
  scroll-snap-align: center;
}
.plan__title {
  font-size: 1.3rem;
  font-weight: 500;
  /* margin: 0; */
}
.plan__cost {
  font-size: 1.5rem;
  font-weight: 600;
  margin-top: 0;
}
.plan__bar {
  width: 100%;
  height: 2px;
  border: none;
  background-color: var(--var-gray);
}
.plan__list {
  padding: 0;
  width: 100%;
}
.plan__item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* border: 2px solid red; */
  margin: 1.5rem 0;
  font-size: 14px;
  align-items: center;
}
.plan__item span:first-of-type {
  /* border: 2px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}
.plan__button {
  padding: 1rem;
  width: 100%;
  border-radius: 4rem;
  background-color: var(--var-sky-blue);
  color: white;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1.1px;
}
/* membership component--------------- */

.membership {
  padding: 1rem;
  text-align: center;
}

.membership__desc {
  padding-inline: 3rem;
  color: var(--var-gray);
  margin-bottom: 2rem;
}

.membership__plan-wrapper {
  /* border: 2px solid  red; */
  padding-block: 1rem 4rem;
  white-space: nowrap;
  overflow-x: scroll;
  /* display: flex; */
  /* gap: 1rem; */
  /* flex-grow: 1; */
  position: relative;
  scroll-snap-type: both mandatory;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.membership__plan-wrapper::-webkit-scrollbar {
  display: none;
}

/* -------------- brands section -------------- */

/* brand component --------------------- */
.brand {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  width: 8rem;
  height: 4rem;
  padding: 1rem;
  box-shadow: 0 0 60px -30px var(--var-gray);
  scroll-snap-align: center;
}

/* brands component */

.brands {
  /* border: 2px solid red; */
  text-align: center;
  /* padding: 0 2rem 2rem; */
  margin-block-start: -1.5rem;
}
.brands__desc {
  color: var(--var-gray);
  padding: 0 3rem;
}

.brands__wrapper {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  gap: 1.5rem;
  overflow: scroll;
  padding-block: 3rem;
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.brands__wrapper::-webkit-scrollbar {
  display: none;
}

/* -------------------- questions section ----------- */
/* accordion component -------------- */
.accordion {
  padding: 0;
}
.accordion__item {
  border-bottom: 2px solid black;
  margin-block: 2rem;
}
.accordion__title {
  display: flex;
  /* border: 2px solid red; */
  justify-content: space-between;
  align-items: center;
  font-size: 1rem;
  font-weight: 500;
}
.accordion__desc {
  color: var(--var-gray);
  height: 0;
  overflow: hidden;
}

.accordion__item:first-of-type .accordion__desc {
  /* border: 2px solid red; */
  overflow: visible;
  height: auto;
}

.questions {
  /* border: 2px solid red; */
  text-align: left;
  padding: 0 1rem 1rem;
}

.questions__img-wrapper {
  display: none;
}
.questions__desc {
  color: var(--var-gray);
  width: 80%;
}
.questions__bar {
  border: none;
  width: 100%;
  height: 1px;
  background-color: var(--var-light-gray);
}

/* ------------------------- app section ----------- */

/* app component----------------- */

.app {
  /* border: 2px solid red; */
  text-align: center;
  padding: 2rem;
}
.app__title {
  padding-inline: 1.3rem;
  line-height: 2rem;
}
.app__desc {
  color: var(--var-gray);
  margin-bottom: 3rem;
}
.app__google-play,
.app__app-store {
  margin-inline: 0.3rem;
}
.app__illustration {
  display: none;
}

/* ------------------ footer -------------- */

.footer {
  display: grid;
  grid-template-columns: 1fr 0.6fr 0.6fr;
  grid-template-rows: 2rem 10rem 2rem;
  padding: 1rem;
  background-color: var(--var-smoke-white);
  gap: 1rem;
}

.footer__logo {
  grid-column: 1/2;
  grid-row: 1/2;
  width: 9rem;
  
}
.footer__desc {
  grid-column: 1/2;
  grid-row: 2/3;
  margin-block: 0;
  color: var(--var-gray);
}
.footer__social-media-wrapper {
  grid-column: 1/2;
  grid-row: 3/4;
  width: 70%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -3rem;
}
.footer__social > img {
  width: 1.8rem;
  height: 1.8rem;
}

.footer__link-wrapper {
  padding: 0;
  margin: 0;
}
.footer__link-title {
  margin: 0.4rem 0;
}
.footer__link {
  margin-block: 0.85rem;
  color: var(--var-gray);
}

.footer__about {
  grid-column: 2/3;
  grid-row: 1/4;
}
.footer__how-to-buy {
  grid-column: 3/4;
  grid-row: 1/4;
}

.footer__buy,
.footer__shipping,
.footer__community {
  display: none;
}

.footer small{
  display: none;
}

/* ------------------- desktop-view ----------------- */

@media all and (min-width: 1200px) {
  .button-round {
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
  }

  .search {
    display: flex;
    align-items: center;
    width: 40rem;
    height: 3.3rem;
    padding-inline-start: 1rem;
    column-gap: 1rem;
    position: relative;
    box-shadow: 0 0 60px -24px var(--var-dark-blue);
    border-radius: 4rem;
  }
  /* make search elements visible in desktop-view */
  .search > * {
    display: inline-block;
  }
  .search__button {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    padding-inline: 1.5rem;
    border-radius: 4rem;
    background-color: var(--var-dark-blue);
    gap: 1rem;
    color: white;
    font-size: 1rem;
  }
  .search__button span {
    display: inline-block;
  }
  .search__button svg path {
    stroke: white;
  }
  .search__show-all {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    border: none;
    gap: 1rem;
    font-size: 1rem;
  }
  .search__show-all::after {
    content: "";
    width: 2px;
    height: 1.5rem;
    background-color: var(--var-light-gray);
  }
  .search__placeholder {
    color: var(--var-light-gray);
    margin-left: 0;
    justify-self: flex-start;
    flex-grow: 1;
  }

  .sign-in {
    /* border: 2px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    color: var(--var-gray);
  }
  .sign-in hr {
    height: 1rem;
    width: 2px;
    border: none;
    background-color: currentColor;
  }
  .sign-in span:first-child {
    color: var(--var-dark-blue);
    font-weight: 500;
  }

  .header__logo {
    order: 1;
  }
  .header__search {
    order: 2;
  }

  .header__sign-in {
    order: 3;
  }
  .header__hamburger {
    order: 4;
  }
  .header__wrapper {
    padding: 2rem 4rem;
  }
  .nav {
    padding: 1.5rem;
    gap: 2rem;
  }
  .nav__link {
    font-size: 1.15rem;
    color: var(--var-very-light-gray);
  }

  /* ---------------- hero section ------------- */

  .hero {
    background-image: linear-gradient(
        245.34deg,
        rgba(0, 23, 34, 0.24) -1.96%,
        #021113 100.12%
      ),
      url("./assets/image11.png");
    background-size: cover;
    height: 100vh;
    display: grid;
    grid-template-columns: 13rem 1fr 8rem;
    place-content: center;
    padding: 0 8rem;
  }
  .hero__title {
    font-size: 4rem;
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .hero__desc {
    width: 58%;
    font-size: 1.2rem;
    margin-bottom: 3rem;
    grid-column: 1/3;
    grid-row: 2/3;
  }
  .hero__button {
    padding: 1rem 1.8rem;
    grid-column: 1/2;
    grid-row: 3/4;
    font-size: 1.2rem;
  }
  .hero__nav {
    grid-column: 3/4;
    grid-row: 4/4;
    position: relative;
    width: fit-content;
  }
  .hero__next,
  .hero__prev {
    width: 4rem;
    height: 4rem;
  }

  /* --------------------- top-view section ------------- */
  /* top-car component ----------------- */

  .top-car {
    width: 25rem;
    margin: 0 0.7rem;
  }
  .top-car__img {
    height: 28rem;
  }
  .top-car__desc {
    color: var(--var-dark-blue);
    width: 70%;
    font-size: 1.2rem;
    font-weight: 500;
    margin-bottom: 0;
  }
  .top-car__price {
    color: var(--var-gray);
    font-size: 1.2rem;
  }

  /* top-view component -------------- */
  .top-view {
    padding: 5rem;
    background-color: var(--var-smoke-white);
  }
  .top-view__title {
    font-size: 45px;
  }
  .top-view__desc {
    font-size: 1rem;
    width: 50%;
    margin: auto auto 3rem;
  }
  .top-view__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 4rem;
    right: 4rem;
    height: 4rem;
    position: absolute;
  }
  .top-view__next,
  .top-view__prev {
    border: none;
  }
  /* -------------------- about section ------------- */
  .about {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr 0.5fr 0.5fr;
    background-image: none;
    padding: 0;
    position: relative;
    overflow: visible;
  }
  .about__img1,
  .about__img2 {
    display: block;
  }
  .about__img1 {
    grid-column: 1/2;
    grid-row: 1/4;
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  .about__img2 {
    grid-column: 2/3;
    grid-row: 1/2;
    width: 100%;
  }

  .about__title {
    font-size: 2.6rem;
    font-weight: 700;
    margin-bottom: 1.5rem;
  }
  .about__desc {
    width: 85%;
    color: var(--var-gray);
  }
  .about__content-wrapper {
    grid-column: 2/3;
    grid-row: 2/3;
    background-color: white;
    padding: 2rem 0 0 4rem;
    position: relative;
  }

  .about__item-wrapper {
    background-color: white;
    justify-content: center;
    width: 100%;
    position: relative;
    white-space: initial;
    padding: 0;
    gap: 2rem;
  }

  .about__cube {
    display: inline-block;
    grid-column: 1/3;
    grid-row: 3/4;
    margin: auto;
    top: 23%;
    left: 2%;
    right: 0;
    position: absolute;
  }
  /* change about-item appearance ---------- */
  .item__img {
    display: none;
  }
  .item__title {
    font-size: 2.8rem;
    margin: 0;
  }
  .item__desc {
    color: var(--var-gray);
  }

  /* ---------------- trending-section --------------- */

  .trending {
    /* border: 2px solid red; */
    /* padding: 5rem 8rem; */
    position: relative;
    padding: 0;
  }
  .trending__title {
    font-size: 2.8rem;
    font-weight: 700;
    margin-top: 7rem;
    margin-left: 8rem;
  }
  .trending__desc {
    color: var(--var-gray);
    width: 35%;
    margin-left: 8rem;
  }
  .trending__nav {
    /* border: 2px solid red; */
    display: flex;
    gap: 1.5rem;
    position: absolute;
    right: 4rem;
    top: 3rem;
  }
  .trending__next {
    background-color: var(--var-sky-blue);
  }
  .trending__prev {
    border: 1px solid var(--var-light-gray);
  }
  .trending__prev path {
    fill: var(--var-light-gray);
  }

  .trending__car-wrapper {
    box-shadow: none;
    height: 40rem;
    display: flex;
    align-items: center;
    padding-inline: 4rem;
  }
  .trend-car {
    box-shadow: 0 0 40px -20px var(--var-light-gray);
    width: 25rem;
    height: 30rem;
    margin: 1rem 0.7rem;
    padding: 2rem;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
  }
  .trend-car__desc {
    font-size: 1.2rem;
    font-weight: 500;
    width: 80%;
  }
  .trend-car__remaining {
    color: var(--var-gray);
    margin-block: 0.5rem 1rem;
  }

  /* ---------------- video section ------------- */
  .video {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-inline: 0;

  }
  .video__video {
    grid-column: 1/2;
    grid-row: 1/3;
  }
  .video__detail {
    grid-column: 2/3;
    grid-row: 1/3;
    /* justify-content: center; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 6rem 2rem 6rem 6rem;
  }
  .video__title {
    font-size: 2.4rem;
    margin-bottom: 0.5rem;
  }
  .video__desc {
    width: 80%;
    font-weight: 400;
    font-size: 0.95rem;
  }

  .video__nav {
    display: flex;
    gap: 1rem;
    /* justify-content: flex-end; */
  }
  .video__prev {
    background-color: var(--var-sky-blue);
  }
  .video__next {
    border: 1px solid var(--var-light-gray);
    background-color: white;
  }
  .video__next path {
    fill: var(--var-light-gray);
  }

  /* -----------------membership section-------------- */

  .membership__title {
    font-size: 2.6rem;
    margin-bottom: 1rem;
  }
  .membership__desc {

    font-weight: 400;
  }
  /* plan component ---------------- */
  .plan {
    border: 1px solid var(--var-very-light-gray);
    box-shadow: none;
    width: 18rem;
    color: var(--var-dark-blue);
  }
  .plan:nth-child(even) {
    background-color: var(--var-dark-blue);
    color: white;
  }
  .plan:nth-child(even) .plan__bar {
    background-color: var(--var-sky-blue);
  }
  .plan:nth-child(even) .plan__title,
  .plan:nth-child(even) .plan__cost {
    color: white;
  }
  .plan:nth-child(odd) .plan__button {
    background-color: white;
    color: var(--var-gray);
    border: 1px solid var(--var-very-light-gray);
  }
  .plan__bar {
    background-color: var(--var-very-light-gray);
    height: 1px;
  }

  /* ------------------ brands section -------------- */

  .brands {
    padding: 4rem;
  }
  .brands__title {
    font-size: 2.4rem;
  }
  .brands__desc {
    width: 50%;
    margin-inline: auto;
    margin-top: 0rem;
  }
  .brands__wrapper {
    gap: 0;
    column-gap: 0;
    row-gap: 1rem;
    width: 80%;
    margin: auto;
  }
  .brand {
    box-shadow: none;
    padding: 0;
  }
  .brand__desc {
    color: var(--var-gray);
    font-size: 0.8rem;
  }

  /* ------------------- questions section ------------- */
  .questions {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100%;
    padding: 0;
    position: relative;
  }
  .questions__img-wrapper {
    display: inline-block;
    background-color: var(--var-smoke-white);
    padding: 2.5rem 2.5rem 2.5rem 0;
    /* height: 100%; */
  }
  .questions__img {
    width: 100%;
  }

  .questions__content-wrapper {
    padding: 3.5rem 3.5rem 0;
  }
  .questions__title {
    font-size: 2.4rem;
  }
  .questions__desc {
    font-size: 0.95rem;
  }
  .questions__bar {
    background-color: var(--var-very-light-gray);
  }
  .accordion__item {
    border-color: var(--var-very-light-gray);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-block: 1rem;
  }
  .accordion__title {
    margin: 0;
  }

  /* -------------- -----app section ----------------- */
  .app {
    background-color: var(--var-smoke-white);
    margin: 7rem 4rem;
    padding-bottom: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }
  .app__title {
    grid-column: 1/3;
    grid-row: 1/2;
    margin-bottom: 0;
    margin-inline: 1rem;
    font-size: 2.4rem;
    line-height: 2.9rem;
  }
  .app__desc {
    grid-column: 1/3;
    grid-row: 2/3;
    width: 80%;
    margin-inline: auto;
  }
  .app__google-play {
    grid-column: 2/3;
    grid-row: 3/4;
    justify-self: flex-start;
  }
  .app__app-store {
    grid-column: 1/2;
    grid-row: 3/4;
    justify-self: flex-end;
  }
  .app__illustration {
    display: inline-block;
    grid-column: 3/4;
    grid-row: 1/4;
  }

  /* ------------------------ footer section ----------- */
  .footer {
    grid-template-columns: 2fr repeat(5, 1fr);
    padding: 6rem;
    background-color: var(--var-dark-blue);
    color: white;
    position: relative;
  }
  /* make all hidden lists visible */
  .footer__buy,
  .footer__shipping,
  .footer__community {
    display: inline-block;
  }
  .footer__link-title {
    color: var(--var-very-light-gray);
    font-weight: 500;
    font-size: 1.3rem;
  }
  .footer__link {
    color: var(--var-light-gray);
    margin-block: 1.5rem;
    font-size: 0.9rem;
  }
  .footer__desc {
    width: 70%;
    font-size: 0.8rem;
    color: var(--var-light-gray);
  }
  .footer__social-media-wrapper{
    justify-content: flex-start;
    gap: .5rem;
  }
  /* reposition elements------------------- */
  .footer__about {
    grid-column: 2/3;
  }
  .footer__buy {
    grid-column: 3/4;
  }
  .footer__how-to-buy {
    grid-column: 4/5;
  }
  .footer__shipping {
    grid-column: 5/6;

  }
  .footer__community {
    grid-column: 6/7;

  }
  .footer small{
    position: absolute;
    display: block;
    width: 100vw;
    text-align: center;
    bottom: 2rem;
    font-weight: 300;
    font-size: .7rem;
    color: var(--var-light-gray);
  }
}
